# Ignore everything in the root
/*
/auction/*
/auctionhouse/*
/auctionhouse.log
/log/*
/auctionhouse/.env
/auctionhouse/.env
/auction/tests/__pycache__
/auctionhouse/tests/__pycache__
/auction/migrations/__pycache__
/auction/tests/__pycache__/*
# Un-ignore these files - it's bit of a clonky way to do it but it's more secure
!auction/
!auction/__init__.py
!auction/admin.py
!auction/apps.py
!auction/janitor.py
!auction/models.py
!auction/serializers.py
!auction/tests/tests_models.py
!auction/tests/tests_paths.py
!auction/tests/__init__.py
!auction/urls.py
!auction/views.py
!auction/bidhistory.py
!auction/migrations/
!auction/migrations/__init__.py\
!auction/tests/
!auction/tests/*
!.gitignore
!github/
!auctionhouse/
!auctionhouse/.env.example
!auctionhouse/settings.py
!auctionhouse/__init__.py
!README.md
!auctionhouse/urls.py
!auctionhouse/views.py
!auctionhouse/validators.py
!auctionhouse/assertions.py
!auctionhouse/authentication.py
!auctionhouse/negotiation.py
!auctionhouse/wsgi.py
!auctionhouse/tests/tests_paths.py
!auctionhouse/tests/__init__.py
!requirements.txt
!auctionhouse/schemas/
!auctionhouse/schemas/*
!auctionhouse/tests/
!auctionhouse/tests/*
!docker-compose.yml
!Dockerfile
!run_app.sh
!manage.py
!pytest.ini
!.github/workflows/post-merge-deployment.yml
!.github/workflows/unit-test.yml
!.github/workflows/codeql-analysis.yml
!auctionhouse.log
