# Ignore everything in the root
/*
/auction/*
/auctionhouse/*
/auctionhouse/.env
/auction/tests/__pycache__
/auctionhouse/tests/__pycache__
/auction/migrations/__pycache__
/auction/tests/__pycache__/*
# Un-ignore these files - it's bit of a clonky way to do it but it's more secure
!auction/
!auction/__init__.py
!auction/admin.py
!auction/apps.py
!auction/models.py
!auction/serializers.py
!auction/tests/tests_models.py
!auction/tests/tests_paths.py
!auction/tests/__init__.py
!auction/urls.py
!auction/views.py
!auction/migrations/
!auction/migrations/__init__.py
!.gitignore
!auctionhouse/
!auctionhouse/.env.example
!auctionhouse/settings.py
!auctionhouse/__init__.py
!README.md
!auctionhouse/urls.py
!auctionhouse/views.py
!auctionhouse/validators.py
!auctionhouse/assertions.py
!auctionhouse/authentication.py
!auctionhouse/wsgi.py
!auctionhouse/tests/tests_paths.py
!auctionhouse/tests/__init__.py
!requirements.txt
!auctionhouse/schemas/
!auctionhouse/schemas/*
