amqp
asgiref
asn1crypto
attrs
Babel
billiard
celery
certifi
cffi
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
coverage
cryptography
Django
django-compat
django-extensions
django-filter
django-money
django-nose
django-unixdatetimefield
django4-background-tasks
djangorestframework
exceptiongroup
gunicorn
httmock
httpretty
idna
importlib-metadata
iniconfig
jsonschema
jsonschema-specifications
kombu
MarkupSafe
mock
more-itertools
nose
packaging
pluggy
prompt-toolkit
psycopg2-binary
py-moneyed
pycparser
pyOpenSSL
pyrsistent
pytest
pytest-django
python-dateutil
python-dotenv
pytz
PyJWT
referencing
requests
requests-mock
rpds-py
six
sqlparse
tomli
typing_extensions
tzdata
urllib3
vine
wcwidth
Werkzeug
zipp
