amqp
asgiref
asn1crypto
attrs
Babel
billiard
celery
certifi
cffi
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
coverage
cryptography
Django
django-compat
django-extensions
django-filter
django-money
django-unixdatetimefield
django4-background-tasks
djangorestframework
gunicorn
httpretty
idna
importlib-metadata
jsonschema
kombu
MarkupSafe
more-itertools
prompt-toolkit
psycopg2-binary
py-moneyed
pycparser
pyOpenSSL
pyrsistent
python-dotenv
pytz
requests
six
sqlparse
typing_extensions
urllib3
vine
wcwidth
Werkzeug
zipp